@model Endpoint.Site.ViewModels.User.AddUserToRoleViewModel
@{
    ViewData["Title"] = "AddUserToRole";
}

<h1>AddUserToRole</h1>


@if (!Model.UserRoleViewModels.Any())
{
    <h1>هیچ مقامی یافت نشد</h1>
}
else
{
    <form asp-controller="ManageUser" asp-action="AddUserToRole" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        @for (int i = 0; i < Model.UserRoleViewModels.Count; i++)
        {
            <div class="form-group">
                <input asp-for="@Model.UserRoleViewModels[i].IsSelected" />
                <label>@Model.UserRoleViewModels[i].RoleName</label>

                <input type="hidden" asp-for="@Model.UserRoleViewModels[i].RoleName" />
            </div>
        }
        <input type="hidden" asp-for="@Model.UserId" />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}