@model Endpoint.Site.ViewModels.Password.ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="NewPassword" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <label asp-for="ConfirmNewPassword" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>

    <input hidden="" asp-for="Token" />
    <input hidden="" asp-for="Email" />


    <button type="submit" class="btn btn-primary">ارسال</button>
</form>



@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}